[Desktop Entry]
Type=Application
Name=Cards With Cats
GenericName=Card Game
Comment=Play Hearts, Spades, Oh Hell, and Scum against clever cats
Exec=CardsWithCats
Icon=io.github.crhy.CardsWithCats
Terminal=false
Categories=Game;CardGame;
StartupWMClass=cards_with_cats
